.header-banner{
    color:white;
    h1{
        font-weight: 500;
        font-size: 67.1125px;
        line-height: 79px;
        color: white;
    }
    p{
        font-weight: 500;
        font-size: 38px;
        line-height: 45px;
        color: white;
    }
}
.extra-title{

    font-weight: 600;
    font-size: 62px;
    line-height: 73px;
}
.extra-desc{
    font-size: 16px;
    line-height: 19px;
}
.e-img{
    img{
        max-width: 100%;
    }
}

.extra-item{
    background: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 20px;
    .text-price{
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }
    .e-number{
        font-size: 24px;
        line-height: 28px;
        width: 100%;
        &:hover,&:focus{
            outline: none;
            border:none
        }
    }
    .e-price{
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #0070C1;
    }
}
.btn-primary{
    background: #0070C1;

}
.btn-lg{
    padding: 20px 40px;
}

.btn-secondary{
    background: #D0D0D0;
    color: #242E42;
}
